.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  /*color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,152,201,1) 51%, rgba(134,133,181,1) 71%, rgba(110,109,155,1) 80%, rgba(2,0,36,1) 100%); */
}

#descrip, #task{
  border-radius: 7px;
  margin: 1%;
  margin-top: auto;
  border: black solid 1px;
  size-adjust: false;
}

.container{
  margin-top: 1%;
  padding: 3%;
  border: black solid 2px;
}

.cab{
  border: black solid 2px;
  padding: 1%;
  font-size: 5vh;
}
